{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block header %}
   <a href="{{ url_for('index') }}">&larr; Back to Dashboard</a>
{% endblock %}

{% block title %} 
   User Profile
{% endblock %}

{% block content %}
   <!-- Page Heading -->
   <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Hi {{ user.username }}!</h1>
   </div>

   <div class="row">
      <div class="col-lg"> 
         {% include 'auth/profile_card.html' %}
      </div>
   </div>

   {% include 'auth/profile_modal_edit.html' %}
{% endblock %}

