<!-- User Profile Card -->
   <div class="card mb-4">
      <div class="card-header py-3">
         <h6 class="m-0 font-weight-bold text-primary">Username: {{ user.username }}</h6>
      </div>
      <div class="card-body">
         <div class="text-left">
            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 10rem;" src="{{ user.avatar(128) }}" alt="">
            <p>Is Email Validated: {{ user.email_validated }}</p>	
            <p> About me: {% if user.about_me %}{{ user.about_me }} {% endif %}</p>
            <p>Last seen: {% if user.last_seen %}{{ moment(user.last_seen).calendar()}}{% endif %}</p>
            {% if user == current_user %}
               <a href="#" data-toggle="modal" data-target="#EditProfileModal">Edit Profile</a>
            {% else %}
               <a href="{{ url_for('messages.view_message',thread_id=user.username) }}">Send private message</a>
            {% endif %}
         </div>
      </div>
   </div>