{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block header %}
   <a href="{{url_for('index')}}">&larr; Back to Dashboard</a>
{% endblock %}

{% block title %}
   Organizations
{% endblock %}

{% block content %}
   <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Organizations</h1>
   </div>

   <a href="#" data-toggle="modal" data-target="#CreateOrganizationModal">Create new organization </a>

   <div class="row">
      <div class="col-lg"> 
         {% for org in orgs %}
            {% include 'organization/organizations_card.html' %}
            {% include 'organization/organizations_modal_edit.html' %}
         {% endfor %}
     </div>
   </div>

   {% include 'organization/organizations_modal_create.html' %}

{% endblock %}

