<!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="get"
                        action="{{ url_for('search.search') }}">
            <div class="input-group">
		{% if g.search_form %}
		{{ g.search_form.q(size=20, class="form-control bg-light border-0 small",
                            placeholder="Search for...") }}
		{% else %}
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
		{% endif %}
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>	
              </div>
		
            </div>
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
	
	{% if not current_user.is_anonymous %}

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                {% set new_alerts_count = current_user.new_alerts_count() %}
                <span id="alert_count" class="badge badge-danger badge-counter" style="visibility: {% if new_alerts_count %}visible
                                                     {% else %}hidden {% endif %};">{{new_alerts_count}}</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
		{% for alert_thread in current_user.navbar_alerts() %}
		   {% set alert = alert_thread.last_alert() %}
                <a class="dropdown-item d-flex align-items-center" href="{{url_for('messages.view_alert', thread_id=alert_thread.id)}}">
                  <div class="mr-3">
                    <div class="{{'icon-circle '+alert.background}}">
                      <i class="{{'fas '+alert.icon+' text-white'}}"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">{{moment(alert.sent_time).fromNow()}}</div>
		   {% if alert.read_time %}
                    <span class="font-weight-normal">
		   {% else %}
		    <span class="font-weight-bold">
		   {% endif %} 
			{{alert.body}}</span>
		   
                  </div>
                </a>
		{% else %}
		<a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                  </div>
                  <div class="font-weight-normal">
                    <div class="text-truncate">You have no alerts :)</div>
                  </div>
                </a>
		{% endfor %}

                <a class="dropdown-item text-center small text-gray-500" href="{{url_for('messages.alerts')}}">Show All Alerts</a>
              </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                
		<!-- Counter - Messages -->
		{% set new_messages_count = current_user.new_messages_count() %}
                <span id="message_count" class="badge badge-danger badge-counter" 
				style="visibility: {% if new_messages_count %}visible {% else %}hidden {% endif %};">
			{{new_messages_count}}
		</span>

              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
		{% for msg_thread in current_user.navbar_messages() %}
		    {% set message = msg_thread.last_message() %}
                <a class="dropdown-item d-flex align-items-center" href="{{url_for('messages.view_message', thread_id=msg_thread.id)}}">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="{{msg_thread.get_img(current_user)}}" alt="">
                    {% if message.sender != current_user and message.sender.is_online() %}
			<div class="status-indicator bg-success"></div>
                    {% endif %}
                    
                  </div>
		  {% if not message.get_read_time(current_user) and message.sender != current_user %}
                	<div class="font-weight-bold"> 
		  {% else %}
		  <div class="font-weight-normal">
		  {% endif %}
                    <div class="text-truncate">{{message.body}}</div>
                    
                    <div class="small text-gray-500">
                    {% if message.sender != current_user %}
                         {{message.sender.username}} 
                    {% else %}
                        {{message.sender.username}} &rarr;
                    {% endif %}
                    · {{moment(message.sent_time).fromNow()}}</div>
                  </div>
                </a>
		{% else %}
		<a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                  </div>
                  <div class="font-weight-normal">
                    <div class="text-truncate">You have no messages :(</div>
                  </div>
                </a>
		{% endfor %}
                
                <a class="dropdown-item text-center small text-gray-500" href="{{url_for('messages.messages')}}">Read More Messages</a>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>
		{% endif %}
            <!-- Nav Item - User Information -->
            
	{% if current_user.is_anonymous %}
		<li class="nav-item dropdown no-arrow">
		<a class="nav-link" href="{{url_for('auth.register')}}" role="button">
		<span class="mr-2 d-none d-lg-inline text-gray-600 small">Sign Up</span>
		</a>
		</li>
		<div class="topbar-divider d-none d-sm-block"></div>
		<li class="nav-item dropdown no-arrow">
		<a class="nav-link" href="{{url_for('auth.login')}}" role="button">
		<span class="mr-2 d-none d-lg-inline text-gray-600 small">Login</span>
		</a>
		</li>

		
        {% else %}
		<li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ current_user.username }}</span>
                <img class="img-profile rounded-circle" src="{{ current_user.avatar(60) }}">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{{ url_for('auth.profile', username=current_user.username)}}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            
            	{% endif %}
		</li>
          </ul>

        </nav>
        <!-- End of Topbar -->