<div class="card shadow mb-4">
   <a href="{{url_for('messages.view_alert', thread_id=thread.id)}}" style="text-decoration: none"> 
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
         <h6 class="m-0 font-weight-bold text-primary"> Alert Title Here </h6>
         <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
               <div class="dropdown-header">Action:</div>
               <a class="dropdown-item" href="#">Action</a>
               <a class="dropdown-item" href="#">Another action</a>
               <div class="dropdown-divider"></div>
               <a class="dropdown-item" href="#">Something else here</a>
            </div>
         </div>
      </div>
   </a>
   <a href="{{url_for('messages.view_alert', thread_id=thread.id)}}" style="text-decoration: none"> 
      <!-- Card Body -->
      <div class="card-body">
         Sent {{ moment(alert.sent_time).fromNow() }} | 
         {% if alert.read_time %} Alert read {{ moment(alert.read_time).fromNow()}} {% endif %}
         <div class="{{'icon-circle '+alert.background}}">
            <i class="{{'fas '+alert.icon+' text-white fa-fw'}}"></i>
         </div>
         <span class="badge badge-light badge-counter" style="visibility: 
            {% if thread_alert_count %}visible{% else %}hidden {% endif %}">
            {{thread_alert_count}}
         </span>
         {{ alert.body }}
      </div>
   </a>
</div>            

