<a href="{{url_for('messages.view_message', thread_id=thread_id)}}" style="text-decoration: none">    
<table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('auth.profile', username=message.sender.username) }}">
                    <img src="{{ message.sender.avatar(70) }}" />
                </a>
            </td>
            <td>
                {% set user_link %}
                    <span class="user_popup">
                        <a href="{{ url_for('auth.profile', username=message.sender.username) }}">
                            {{ message.sender.username }}
                        </a>
                    </span>
                {% endset %}
                {{user_link}} said {{ moment(message.sent_time).fromNow() }}
		<br>
                {% if message.get_read_time(current_user) %}
		   Message read {{ moment(message.get_read_time(current_user)).fromNow()}}
		   <br>
		{% endif %}
                {{ message.body }}		
            </td>
        </tr>
    </table>
</a>
