{% extends 'base.html' %}

{% block header %}Alerts{% endblock %}

{% block title %}Recived alerts{% endblock %}

{% block content %}
          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Recived alerts</h1>

	<div class="row">
	<div class="col-lg-6">
	{% for thread in threads %}
		{% if loop.length%2 %}
			{% if loop.index0 == loop.length//2+1 %}</div><div class="col-lg-6"> {% endif %}
		{% else %}
			{% if loop.index0 == loop.length//2 %}</div><div class="col-lg-6"> {% endif %}
		{% endif %}
		{% set thread_alert_count = thread.alerts.count() %}
		{% set alert = thread.last_alert() %}
        	{% include 'messages/_alert.html' %}
		
    	{% endfor %}
	</div>
	</div>

    {% if prev_url %} 
	<a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span>
                    'Previous results'
        </a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url or '#' }}">
                    'Next results'
                    <span aria-hidden="true">&rarr;</span>
        </a>
    {% endif %}
{% endblock %}
