{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block header %}Messages{% endblock %}

{% block title %}View message{% endblock %}

{% block content %}
          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">View messages from 
		{% for recipient in recipients %} 
			<a href="{{ url_for('auth.profile', username=recipient.username) }}">{{recipient.username}}</a> 
		{% endfor %} 
	  </h1>
	{% for message in thread.messages %}
        <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('auth.profile', username=message.sender.username) }}">
                    <img src="{{ message.sender.avatar(70) }}" />
                </a>
            </td>
            <td>
                {% set user_link %}
                    <span class="user_popup">
                        <a href="{{ url_for('auth.profile', username=message.sender.username) }}">
                            {{ message.sender.username }}
                        </a>
                    </span>
                {% endset %}
                {{user_link}} said {{ moment(message.sent_time).fromNow() }}
                <br>
                {% if message.get_read_time(current_user) %}
		
		Message read {{ moment(message.get_read_time(current_user)).fromNow()}}
			<br>
		{% endif %}
                
                <span id="message{{ message.id }}">{{ message.body }}</span>
            </td>
        </tr>
    </table>
	{% endfor %}
<br>
	<h3>Reply </h3>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock %}
