{% extends 'base.html' %}

{% block header %}Alerts{% endblock %}

{% block title %}View alerts{% endblock %}

{% block content %}
          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">View alert</h1>
	{% for alert in thread.alerts %}
		{% set thread_alert_count = 0 %}
        	{% include 'messages/_alert.html' %}
	{% endfor %}

    {% if prev_url %} 
	<a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span>
                    'Previous results'
        </a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url or '#' }}">
                    'Next results'
                    <span aria-hidden="true">&rarr;</span>
        </a>
    {% endif %}
{% endblock %}
